

/* custom styles */

.custom-size {
    height: auto;
    width: 100%;
    display: block;
    border-radius: 20px;
}

#myCarousel .carousel-inner img {
    height: 288px; /* Adjust the desired height */
    width: 162px; /* Adjust the desired width */
  }

.custom-background {
    background-color: rgb(53, 223, 214);
}

.my-box {
    background-color: white;
}

.custom-corners {
    border-radius: 20px;
}

.custom-width {
    width: 600px;
}

.move-down {
    margin-top: 20px;
}

.custom-colour {
    background-color: rgb(82, 216, 89);
}

.bg-custom {
    background-color: aquamarine;
}

.custom-bg {
    background-color: rgb(176, 232, 232);
}

.custom-font {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.nav-link.btn:hover {
    background-color: white;
    
}

.earth-bg {
    background-image: url(../photos/earth.jpg);
}

.go-green-sp {
    width: 50%;
    border-radius: 20px;
}

.icons {
    width: 2%;
}




